In [1]:
from sklearn.neighbors import NearestNeighbors
import numpy as np
import pandas as pd
import scipy

import google.colab
google.colab.drive.mount("/content/drive")

Mounted at /content/drive

In [2]:
materials_hier = pd.read_csv('/content/drive/My Drive/LentaHack/materials.csv')
materials_hier.head()

                           material hier_level_1  ... is_private_label is_alco
0  35cbdf61de9e19c8b417327aaef14c88      NONFOOD  ...                0       0
1  c0b0bf24d4ec71da3d304f761ec555d8      NONFOOD  ...                0       0
2  f0fc5e654a81a7c4b8ba8d7c26546e14      NONFOOD  ...                0       0
3  353693e64fb5f9e2d29746d7fe6edf1e      NONFOOD  ...                0       0
4  5d9e0b4302ce95448cae72165ff4cf5b      NONFOOD  ...                0       0

[5 rows x 8 columns]

In [3]:
materials_ids = pd.read_csv('/content/drive/My Drive/LentaHack/materials_ids.csv').drop(columns=['Unnamed: 0'])
materials_ids.head()

                           material  material_id
0  35cbdf61de9e19c8b417327aaef14c88        21956
1  c0b0bf24d4ec71da3d304f761ec555d8        79256
2  f0fc5e654a81a7c4b8ba8d7c26546e14        99321
3  353693e64fb5f9e2d29746d7fe6edf1e        21739
4  5d9e0b4302ce95448cae72165ff4cf5b        38443

In [4]:
clients_ids = pd.read_csv('/content/drive/My Drive/LentaHack/customers_ids.csv').drop(columns=['Unnamed: 0'])
clients_ids.head()

   client_id_num                         client_id
0              0  0000d48a8891cd462fdf01ea861ec53e
1              1  00028a1dcb30863404a386961a69300e
2              2  0004274683494a9eca5e70ef97299d55
3              3  00072f81efcb3481861f7300c5e2a88a
4              4  00076596eb749cf10c2e984621dffe95

In [87]:
#data = pd.read_csv('/content/drive/My Drive/LentaHack/data_train.csv').drop(columns=['Unnamed: 0']).dropna()
#data = data.rename(columns={"harmonic_mean_loyalty": "loyalty", "client_id": "client_id_str", 'client_id_num': 'client_id'})
data_csr = scipy.sparse.csr_matrix((data.loyalty, (data.client_id, data.material_id)))
data.head()

                      client_id_str  ... client_id
0  0000d48a8891cd462fdf01ea861ec53e  ...         0
1  0000d48a8891cd462fdf01ea861ec53e  ...         0
2  0000d48a8891cd462fdf01ea861ec53e  ...         0
3  0000d48a8891cd462fdf01ea861ec53e  ...         0
4  0000d48a8891cd462fdf01ea861ec53e  ...         0

[5 rows x 6 columns]

In [89]:
from sklearn.neighbors import NearestNeighbors


""""""""""""""""""""""""""""""""
"""""""FIT CLASSIFAER """""""""

""""""""""""""""""""""""""""""""

KNN = NearestNeighbors(n_neighbors=10)
KNN.fit(data_csr)

client_row = scipy.sparse.csr_matrix((data[data['client_id']==0].loyalty, 
                                   (data[data['client_id']==0].client_id, data[data['client_id']==0].material_id)), 
                                    shape = (1,105609))

client_row = client_row.toarray().reshape(1,-1)
neighs = KNN.kneighbors(client_row)
print(neighs)

(array([[0.        , 0.37892768, 0.38622771, 0.39185912, 0.39699531,
        0.39735918, 0.39749011, 0.39755529, 0.3982522 , 0.40159841]]), array([[    0, 36539, 12763, 27086, 26451, 12524, 46514,  9909, 38660,
        16260]]))

In [65]:
data[data['client_id'] == '0004274683494a9eca5e70ef97299d55'].client_id_num.values[0]

2

In [90]:
def find_replacement(client_id):

      # convert client_id to client_idx
      client_idx = clients_ids[clients_ids['client_id'] == client_id].client_id_num.values[0]

      # detect his key-prodcut
      client = data[data.client_id == 0]
      max_loyalty = client.loyalty.values.max()
      max_loyalty_material_idx = int(client.iloc[client.loyalty.idxmax()].material_id)

      # find his kNN
      client_row = scipy.sparse.csr_matrix((client.loyalty, 
                                        (client.client_id, client.material_id)), 
                                          shape = (1,105609))

      client_row = client_row.toarray()
      neighs = KNN.kneighbors(client_row)[1][0][1:]

      # find key-product (absent) material_id and hier_level_4
      absent_material = materials_ids[materials_ids.material_id == max_loyalty_material_idx].material.values[0]
      absent_material_h = materials_hier[materials_hier.material == absent_material].hier_level_4.values[0]

      # iterante over kNN
      for n, neigh in enumerate(neighs):
          
          # find neighbors top products in category of user key-product
          mat_ids = data[data['client_id']==neigh].sort_values(by=['loyalty'], ascending=False).material_id.values

          # search amoung neighbors top product in category of user key-product
          for i, mat_id in enumerate(mat_ids):
                  material_n = materials_ids[materials_ids.material_id == mat_id].material.values[0]
                  if materials_hier[materials_hier.material == material_n].hier_level_4.values[0] == absent_material_h:

                          if material_n != absent_material:
                            #print(material_n, n, i)
                            return material_n

2
0.1565446961832537
286

IndexError: ignored

In [91]:
# EXAMPLE
import time

start = time.time()

client_id = '0004274683494a9eca5e70ef97299d55'

rp = find_replacement(client_id)

In [28]:
#test_data = pd.read_csv('/content/drive/My Drive/LentaHack/test.csv')
clients = test_data.client_id.unique()
test_data

         Unnamed: 0  ... sales_count_y
0                 0  ...         1.152
1                 1  ...         1.152
2                 2  ...         1.152
3                 3  ...         2.000
4                 4  ...         2.000
...             ...  ...           ...
6035350     6035350  ...         1.000
6035351     6035351  ...         1.000
6035352     6035352  ...         2.000
6035353     6035353  ...         1.000
6035354     6035354  ...         1.000

[6035355 rows x 6 columns]

In [43]:
!pip install IPython
from IPython.display import clear_output

Requirement already satisfied: IPython in /usr/local/lib/python3.6/dist-packages (5.5.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from IPython) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from IPython) (4.3.3)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from IPython) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from IPython) (1.0.18)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from IPython) (50.3.0)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from IPython) (0.8.1)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from IPython) (2.6.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from IPython) (0.7.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->IPython) (0.6.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->IPython) (1.15.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->IPython) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython) (0.2.5)

In [ ]:
from tqdm import tqdm

count = 0
for i, client in enumerate(tqdm(clients)):
    replacement = find_replacement(client)
    count += replacement in test_data[test_data['client_id'] == client].material.unique()
    if i % 50 == 0:
      print(i, count)

In [35]:
replacement in test_data.material.unique()

True